# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so
*.out

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
src/instance/config.py
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/
.develop
.install-deps
junit_xml_test_report.xml
.scannerwork/
sonar-project.properties
.DS_Store
config.json
.install-deps-dev

bin/
pyserial-3.5.dist-info/
serial/

Adafruit_BBIO/
Adafruit_I2C.py
Adafruit_PureIO/
adafruit_ads1x15/
adafruit_blinka/
adafruit_bus_device/
adafruit_circuitpython_ads1x15-2.2.21.dist-info/
adafruit_circuitpython_busdevice-5.2.3.dist-info/
adafruit_circuitpython_requests-1.12.8.dist-info/
adafruit_circuitpython_typing-1.8.1.dist-info/
adafruit_platformdetect/
adafruit_requests.py
analogio.py
bitbangio.py
board.py
busio.py
circuitpython_typing/
digitalio.py
keypad.py
microcontroller/
micropython-stubs/
micropython.py
neopixel_write.py
onewireio.py
overlays/
pulseio.py
pwmio.py
pyftdi-0.54.0.dist-info/
pyftdi/
python_json_logger-2.0.2.dist-info/
pythonjsonlogger/
pyusb-1.2.1.dist-info/
rainbowio.py
tabulate-0.8.10.dist-info/
tabulate.py
typing_extensions-4.2.0.dist-info/
typing_extensions.py
usb/
usb_hid.py
wheel-0.37.1.dist-info/
wheel/
mypy-0.971.dist-info/
mypy/
mypy_extensions-0.4.3.dist-info/
mypy_extensions.py
mypyc/
tomli-2.0.1.dist-info/
tomli/
typed_ast-1.5.4.dist-info/
typed_ast/
typing_extensions-4.3.0.dist-info/
